@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
/* @plugin "daisyui/theme" {
  name: 'light';
  --color-primary: #03373D;
  --color-secondary: #C7F464;
  --color-base-100: #606060;
  --color-base-200: #CAEB66;
  --color-base-300: #CAEB66;
  --color-base-400: #DADADA;
} */

.text_primary {
  color: #03373d;
}
.text_secondary {
  color: #c7f464;
}
.text_base{
  color:#DADADA ;
}
.bg_primary {
  color: #c7f464;
}
.bg_secondary {
  color: #03373d;
}

* {
  font-family: 'Urbanist', sans-serif;
}
